//========================================================
//                     Variables
//=========================================================

// Use relative measurements. Change to 0 on "Post Production"
$debug: 1;

// Layouts
$layout-boxed-width: 1920px;
$layout-boxed-bg: #444;

// Resolutions
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;



// Shadows
$box-shadow-ambient: 0 0 0 rgba(0, 0, 0, .12);
$box-shadow-key-small: 3px 4px 5px 0px rgba(0, 0, 0, 0.11);
$box-shadow-key-light: 3px 4px 8px 0px rgba(0, 0, 0, 0.11);
$box-shadow-key-light-large: 8px 14px 18px 0px rgba(0, 0, 0, 0.11);

 

// Colours

$blue:			#006699;
$blue-light: 	#99CCFF;
$blue-medium:	#0099FF;
$green-light:	#CCFFCC;
$green: 		#99cc33;
$orange-light: 	#ffcc99;
$orange:		#ff6633;
$blue-grey:		#546e7a;