

extends ../layouts/default
include ../mixins/mixins


block vars
    - var active = "Blog"
    - var title = "3 Columns"
    - var header_class = "page-header subpage_header"

block head

block header

    -var header_h1 = "Our Latest News"
    -var header_small = "Blog"
    -var header_big = ""
    -var header_content = ""
    include ../features/header_transparent

block content
    section.section-border.text-center.text-md-left
        .container
                ol.breadcrumb
                    li: a(href="index.html") Home
                    li: a(href="#") Blog
                    li.active: a(href="#") 3 Columns layout

    = '\n'
    //Start section
    section.text-center.text-md-left.offset-1
        .container
            .row
                .col-sm-6.col-md-4
                    article.thumbnail.thumbnail-4.section-border.well.slow-hover
                        .image-slow-wrapper: img(src="images/blog-3.jpg" alt="")
                        .caption
                            h4: a(href="blog_post.html") This is a Standard Post with a Preview Image
                            p.text-dark-variant-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.
                            .blog-info
                                .pull-md-left
                                    time(datetime="2015").meta.fa-calendar Feb 10, 2014
                                    a(href='#').badge.fa-comments.font-secondary 13
                                a(href="blog_post.html").btn-link Read More
                .col-sm-6.col-md-4
                    article.thumbnail.thumbnail-4.section-border.well.slow-hover
                        .image-slow-wrapper: img(src="images/blog-4.jpg" alt="")
                        .caption
                            h4: a(href="blog_post.html") This is a Standard Post with a Preview Image
                            p.text-dark-variant-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.
                            .blog-info
                                .pull-md-left
                                    time(datetime="2015").meta.fa-calendar Feb 10, 2014
                                    a(href='#').badge.fa-comments.font-secondary 13
                                a(href="blog_post.html").btn-link Read More
                .col-sm-6.col-md-4
                    article.thumbnail.thumbnail-4.section-border.well.slow-hover
                        .image-slow-wrapper: img(src="images/blog-5.jpg" alt="")
                        .caption
                            h4: a(href="blog_post.html") This is a Standard Post with a Preview Image
                            p.text-dark-variant-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.
                            .blog-info
                                .pull-md-left
                                    time(datetime="2015").meta.fa-calendar Feb 10, 2014
                                    a(href='#').badge.fa-comments.font-secondary 13
                                a(href="blog_post.html").btn-link Read More
                .col-sm-6.col-md-4
                    article.thumbnail.thumbnail-4.section-border.well.slow-hover
                        .image-slow-wrapper: img(src="images/blog-6.jpg" alt="")
                        .caption
                            h4: a(href="blog_post.html") This is a Standard Post with a Preview Image
                            p.text-dark-variant-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.
                            .blog-info
                                .pull-md-left
                                    time(datetime="2015").meta.fa-calendar Feb 10, 2014
                                    a(href='#').badge.fa-comments.font-secondary 13
                                a(href="blog_post.html").btn-link Read More
                .col-sm-6.col-md-4
                    article.thumbnail.thumbnail-4.section-border.well.slow-hover
                        .image-slow-wrapper: img(src="images/blog-7.jpg" alt="")
                        .caption
                            h4: a(href="blog_post.html") This is a Standard Post with a Preview Image
                            p.text-dark-variant-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.
                            .blog-info
                                .pull-md-left
                                    time(datetime="2015").meta.fa-calendar Feb 10, 2014
                                    a(href='#').badge.fa-comments.font-secondary 13
                                a(href="blog_post.html").btn-link Read More
                .col-sm-6.col-md-4
                    article.thumbnail.thumbnail-4.section-border.well.slow-hover
                        .image-slow-wrapper: img(src="images/blog-8.jpg" alt="")
                        .caption
                            h4: a(href="blog_post.html") This is a Standard Post with a Preview Image
                            p.text-dark-variant-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.
                            .blog-info
                                .pull-md-left
                                    time(datetime="2015").meta.fa-calendar Feb 10, 2014
                                    a(href='#').badge.fa-comments.font-secondary 13
                                a(href="blog_post.html").btn-link Read More
                .col-sm-6.col-md-4
                    article.thumbnail.thumbnail-4.section-border.well.slow-hover
                        .image-slow-wrapper: img(src="images/blog-9.jpg" alt="")
                        .caption
                            h4: a(href="blog_post.html") This is a Standard Post with a Preview Image
                            p.text-dark-variant-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.
                            .blog-info
                                .pull-md-left
                                    time(datetime="2015").meta.fa-calendar Feb 10, 2014
                                    a(href='#').badge.fa-comments.font-secondary 13
                                a(href="blog_post.html").btn-link Read More
                .col-sm-6.col-md-4
                    article.thumbnail.thumbnail-4.section-border.well.slow-hover
                        .image-slow-wrapper: img(src="images/blog-10.jpg" alt="")
                        .caption
                            h4: a(href="blog_post.html") This is a Standard Post with a Preview Image
                            p.text-dark-variant-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.
                            .blog-info
                                .pull-md-left
                                    time(datetime="2015").meta.fa-calendar Feb 10, 2014
                                    a(href='#').badge.fa-comments.font-secondary 13
                                a(href="blog_post.html").btn-link Read More
                .col-sm-6.col-md-4
                    article.thumbnail.thumbnail-4.section-border.well.slow-hover
                        .image-slow-wrapper: img(src="images/blog-3.jpg" alt="")
                        .caption
                            h4: a(href="blog_post.html") This is a Standard Post with a Preview Image
                            p.text-dark-variant-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.
                            .blog-info
                                .pull-md-left
                                    time(datetime="2015").meta.fa-calendar Feb 10, 2014
                                    a(href='#').badge.fa-comments.font-secondary 13
                                a(href="blog_post.html").btn-link Read More

    //End section

    = '\n'
    //Start section
    section.well.text-center.text-md-left
        .container
            div.col-inset-2.text-center.btn-group(aria-label="First group" role="group")
                a(href='#').btn.btn-default.round-small.active 1
                a(href='#').btn.btn-default.round-small 2
                a(href='#').btn.btn-default.round-small 3
                span.text-light-clr.font-secondary ...
                a(href='#').btn.btn-default.round-small 8
    //End section



block footer
    -var footer_class = "page-footer footer-centered text-center"
    include ../features/footer_centered