

extends ../layouts/default
include ../mixins/mixins


block vars
    - var active = "Blog"
    - var title = "Archive page"
    - var header_class = "page-header subpage_header"

block head

block header

    -var header_h1 = "Our Latest News"
    -var header_small = "Blog"
    -var header_big = ""
    -var header_content = ""
    include ../features/header_transparent

block content
    ol.breadcrumb.section-border
        li: a(href="index.html") Home
        li: a(href="#") Blog
        li.active: a(href="#") Archive page


    = '\n'
    //Start section
    section.text-center.text-md-left.inset-1
        .container
            .row
                .col-md-8
                    .row
                        .col-xs-12.section-border
                            article.thumbnail.well.slow-hover
                                .image-slow-wrapper: img(src="images/blog-1.jpg" alt="")
                                .caption
                                    h4: a(href="blog_post.html") This is a Standard Post with a Preview Image
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in. Eligendi, deserunt, blanditiis est quisquam doloribus voluptate id aperiam ea ipsum magni aut perspiciatis rem voluptatibus officia eos rerum deleniti quae nihil facilis repellat atque vitae voluptatem libero at eveniet veritatis ab facere.
                                    .blog-info
                                        .pull-md-left
                                            time(datetime="2015").meta.fa-calendar Feb 10, 2014
                                            span.tags
                                                a.badge.fa-tags
                                                a.post-tag.round-xl.small General
                                                a.post-tag.round-xl.small Media
                                            a.badge.fa-comments.text-uppercase.font-secondary 13
                                        a(href="blog_post.html").btn-link Read More
                        .col-xs-12.section-border
                            article.thumbnail.well.slow-hover
                                .image-slow-wrapper: img(src="images/blog-1.jpg" alt="")
                                .caption
                                    h4: a(href="blog_post.html") This is a Standard Post with a Preview Image
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in. Eligendi, deserunt, blanditiis est quisquam doloribus voluptate id aperiam ea ipsum magni aut perspiciatis rem voluptatibus officia eos rerum deleniti quae nihil facilis repellat atque vitae voluptatem libero at eveniet veritatis ab facere.
                                    .blog-info
                                        .pull-md-left
                                            time(datetime="2015").meta.fa-calendar Feb 10, 2014
                                            span.tags
                                                a.badge.fa-tags
                                                a.post-tag.round-xl.small General
                                                a.post-tag.round-xl.small Media
                                            a.badge.fa-comments.text-uppercase.font-secondary 13
                                        a(href="blog_post.html").btn-link Read More
                        .col-xs-12.section-border
                            article.thumbnail.well.slow-hover
                                .image-slow-wrapper: img(src="images/blog-1.jpg" alt="")
                                .caption
                                    h4: a(href="blog_post.html") This is a Standard Post with a Preview Image
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in. Eligendi, deserunt, blanditiis est quisquam doloribus voluptate id aperiam ea ipsum magni aut perspiciatis rem voluptatibus officia eos rerum deleniti quae nihil facilis repellat atque vitae voluptatem libero at eveniet veritatis ab facere.
                                    .blog-info
                                        .pull-md-left
                                            time(datetime="2015").meta.fa-calendar Feb 10, 2014
                                            span.tags
                                                a.badge.fa-tags
                                                a.post-tag.round-xl.small General
                                                a.post-tag.round-xl.small Media
                                            a.badge.fa-comments.text-uppercase.font-secondary 13
                                        a(href="blog_post.html").btn-link Read More
                        .col-xs-12.section-border
                            article.thumbnail.well.slow-hover
                                .image-slow-wrapper: img(src="images/blog-1.jpg" alt="")
                                .caption
                                    h4: a(href="blog_post.html") This is a Standard Post with a Preview Image
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in. Eligendi, deserunt, blanditiis est quisquam doloribus voluptate id aperiam ea ipsum magni aut perspiciatis rem voluptatibus officia eos rerum deleniti quae nihil facilis repellat atque vitae voluptatem libero at eveniet veritatis ab facere.
                                    .blog-info
                                        .pull-md-left
                                            time(datetime="2015").meta.fa-calendar Feb 10, 2014
                                            span.tags
                                                a.badge.fa-tags
                                                a.post-tag.round-xl.small General
                                                a.post-tag.round-xl.small Media
                                            a.badge.fa-comments.text-uppercase.font-secondary 13
                                        a(href="blog_post.html").btn-link Read More

                .col-md-3.col-md-offset-1.inset-sm.sidebar.inset-1
                        h5 Archive
                        ul.list-unstyled-2
                            li: a.text-primary(href='#') 2015
                            li: a.text-primary(href='#') 2014
                            li: a.text-primary(href='#') 2013
                            li: a.text-primary(href='#') 2012
                            li: a.text-primary(href='#') 2011
                        h5 Latest Projects
                        .img-box
                            a(href='#'): img(src='images/sidebar-2.jpg' alt='')
                            a(href='#'): img(src='images/sidebar-3.jpg' alt='')
                            a(href='#'): img(src='images/sidebar-4.jpg' alt='')
                            a(href='#'): img(src='images/sidebar-5.jpg' alt='')
                            a(href='#'): img(src='images/sidebar-6.jpg' alt='')
                            a(href='#'): img(src='images/sidebar-7.jpg' alt='')

                        h5 Latest News
                        ul.list-unstyled-2
                            li: a.text-primary(href='#') Trends in UX Design
                            li: a.text-primary(href='#') The little Person inside
                            li: a.text-primary(href='#') Inspirational Quote
                            li: a.text-primary(href='#') The Exploration
                            li: a.text-primary(href='#') Places to get lost

                        h5 Sponsor Widgets
                        .img-box
                            a(href='#'): img(src='images/sidebar-8.jpg' alt='')
                            a(href='#'): img(src='images/sidebar-8.jpg' alt='')
                            a(href='#'): img(src='images/sidebar-8.jpg' alt='')
                            a(href='#'): img(src='images/sidebar-8.jpg' alt='')

        //End section

    = '\n'
    //Start section
    section.well.text-center.text-md-left
        .container
            div.col-inset-2.text-center.btn-group(aria-label="First group" role="group")
                a(href='#').btn.btn-default.round-small.active 1
                a(href='#').btn.btn-default.round-small 2
                a(href='#').btn.btn-default.round-small 3
                span.text-light-clr.font-secondary ...
                a(href='#').btn.btn-default.round-small 8
    //End section


block footer
    -var footer_class = "page-footer footer-centered text-center"
    include ../features/footer_centered