{
  "name": "caloundrabig4",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [
      "sass"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "sass/style.scss",
      "imports": [
        "sass/_variables.scss",
        "sass/includes/_mixins.scss",
        "sass/includes/_normalize.scss",
        "bootstrap/stylesheets/_bootstrap.scss",
        "sass/modules/_page-layouts.scss",
        "sass/fonts/_font-awesome.scss",
        "content/style/_custom.scss",
        "sass/helpers/_floating.scss",
        "sass/helpers/_text-alignment.scss",
        "sass/helpers/_text-styling.scss",
        "sass/helpers/_animate.scss",
        "sass/modules/tm-box/_boxes.scss",
        "sass/components/_icons.scss",
        "sass/extensions/_rd-navbar.scss",
        "sass/extensions/_rd-mailform.scss",
        "sass/extensions/_google-map.scss",
        "sass/extensions/_rd-parallax.scss",
        "sass/extensions/_swiper.scss",
        "sass/extensions/_ui-to-top.scss",
        "sass/extensions/_progress-bar.scss",
        "sass/extensions/_responsive-tabs.scss",
        "sass/extensions/_owl-carousel.scss",
        "sass/extensions/_countdown.scss",
        "sass/extensions/_TimeCircles.scss",
        "sass/extensions/_isotope.scss",
        "sass/extensions/_magnific-popup.scss",
        "sass/extensions/_rd-twitter.scss",
        "sass/extensions/_rd-instafeed.scss",
        "bootstrap/stylesheets/bootstrap/_variables.scss",
        "bootstrap/stylesheets/bootstrap/_mixins.scss",
        "bootstrap/stylesheets/bootstrap/_normalize.scss",
        "bootstrap/stylesheets/bootstrap/_print.scss",
        "bootstrap/stylesheets/bootstrap/_glyphicons.scss",
        "bootstrap/stylesheets/bootstrap/_scaffolding.scss",
        "bootstrap/stylesheets/bootstrap/_type.scss",
        "bootstrap/stylesheets/bootstrap/_code.scss",
        "bootstrap/stylesheets/bootstrap/_grid.scss",
        "bootstrap/stylesheets/bootstrap/_tables.scss",
        "bootstrap/stylesheets/bootstrap/_forms.scss",
        "bootstrap/stylesheets/bootstrap/_buttons.scss",
        "bootstrap/stylesheets/bootstrap/_component-animations.scss",
        "bootstrap/stylesheets/bootstrap/_dropdowns.scss",
        "bootstrap/stylesheets/bootstrap/_button-groups.scss",
        "bootstrap/stylesheets/bootstrap/_input-groups.scss",
        "bootstrap/stylesheets/bootstrap/_navs.scss",
        "bootstrap/stylesheets/bootstrap/_navbar.scss",
        "bootstrap/stylesheets/bootstrap/_breadcrumbs.scss",
        "bootstrap/stylesheets/bootstrap/_pagination.scss",
        "bootstrap/stylesheets/bootstrap/_pager.scss",
        "bootstrap/stylesheets/bootstrap/_labels.scss",
        "bootstrap/stylesheets/bootstrap/_badges.scss",
        "bootstrap/stylesheets/bootstrap/_jumbotron.scss",
        "bootstrap/stylesheets/bootstrap/_thumbnails.scss",
        "bootstrap/stylesheets/bootstrap/_alerts.scss",
        "bootstrap/stylesheets/bootstrap/_progress-bars.scss",
        "bootstrap/stylesheets/bootstrap/_media.scss",
        "bootstrap/stylesheets/bootstrap/_list-group.scss",
        "bootstrap/stylesheets/bootstrap/_panels.scss",
        "bootstrap/stylesheets/bootstrap/_responsive-embed.scss",
        "bootstrap/stylesheets/bootstrap/_wells.scss",
        "bootstrap/stylesheets/bootstrap/_close.scss",
        "bootstrap/stylesheets/bootstrap/_modals.scss",
        "bootstrap/stylesheets/bootstrap/_tooltip.scss",
        "bootstrap/stylesheets/bootstrap/_popovers.scss",
        "bootstrap/stylesheets/bootstrap/_carousel.scss",
        "bootstrap/stylesheets/bootstrap/_utilities.scss",
        "bootstrap/stylesheets/bootstrap/_responsive-utilities.scss",
        "content/style/_webfonts.scss",
        "sass/extensions/rd-navbar_includes/_rd-navbar-mixins.scss",
        "sass/extensions/rd-navbar_includes/_rd-navbar-static.scss",
        "sass/extensions/rd-navbar_includes/_rd-navbar-fullwidth.scss",
        "sass/extensions/rd-navbar_includes/_rd-navbar-fixed.scss",
        "sass/extensions/rd-navbar_includes/_rd-navbar-sidebar.scss",
        "sass/extensions/mailform_modules/_mf-animation.scss",
        "sass/extensions/mailform_modules/_mf-placeholder.scss",
        "sass/extensions/mailform_modules/_mf-validation.scss",
        "sass/extensions/mailform_modules/_mf-submit.scss",
        "sass/extensions/mailform_modules/_mf-datepicker.scss",
        "sass/extensions/mailform_modules/_mf-select.scss",
        "sass/extensions/mailform_modules/_mf-label.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_hide-text.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_opacity.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_image.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_labels.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_reset-filter.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_resize.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_responsive-visibility.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_size.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_tab-focus.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_reset-text.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_text-emphasis.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_text-overflow.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_vendor-prefixes.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_alerts.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_buttons.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_panels.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_pagination.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_list-group.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_nav-divider.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_forms.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_progress-bar.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_table-row.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_background-variant.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_border-radius.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_gradients.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_clearfix.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_center-block.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_nav-vertical-align.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_grid-framework.scss",
        "bootstrap/stylesheets/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "sass/extensions/_rd-mailform.scss",
      "imports": [
        "sass/extensions/mailform_modules/_mf-animation.scss",
        "sass/extensions/mailform_modules/_mf-placeholder.scss",
        "sass/extensions/mailform_modules/_mf-validation.scss",
        "sass/extensions/mailform_modules/_mf-submit.scss",
        "sass/extensions/mailform_modules/_mf-datepicker.scss",
        "sass/extensions/mailform_modules/_mf-select.scss",
        "sass/extensions/mailform_modules/_mf-label.scss"
      ]
    },
    {
      "path": "sass/extensions/_rd-navbar.scss",
      "imports": [
        "sass/extensions/rd-navbar_includes/_rd-navbar-mixins.scss",
        "sass/extensions/rd-navbar_includes/_rd-navbar-static.scss",
        "sass/extensions/rd-navbar_includes/_rd-navbar-fullwidth.scss",
        "sass/extensions/rd-navbar_includes/_rd-navbar-fixed.scss",
        "sass/extensions/rd-navbar_includes/_rd-navbar-sidebar.scss"
      ]
    },
    {
      "path": "content/style/_custom.scss",
      "imports": [
        "content/style/_webfonts.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes",
    "/bat"
  ],
  "server": {
    "port": 7881,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}