//-var footer_class = "page-footer text-center"


footer(class="#{footer_class}")
    section.footer-content
        .container
            .navbar-brand
                a(href="index.html") Modicate
            p.big We believe in Simple, Creative & Flexible Design Standards.
            ul.list-inline
                li: a.fa-facebook(href="#")
                li: a.fa-pinterest-p(href="#")
                li: a.fa-twitter(href="#")
                li: a.fa-google-plus(href="#")
                li: a.fa-instagram(href="#")

    section.copyright
        .container
            p.
                &#169; #[span#copyright-year.] All Rights Reserved #[a(href='terms.html') Terms of Use and Privacy Policy]




