

extends ../layouts/default

block vars
    - var active = "Elements"
    - var title = "Buttons"
    - var header_class = "page-header subpage_header"

block head

block header

    -var header_h1 = "Choose your Size, Style & Color"
    -var header_small = "Buttons"
    -var header_big = ""
    -var header_content = ""
    include ../features/header_transparent

block content
    ol.breadcrumb.section-border
        li: a(href="index.html") Home
        li: a(href="#") Elements
        li.active Buttons

    section.text-center.well.well-sm
        .container
            .row
                .col-lg-6.col-lg-offset-3
                    h1.text-bold Buttons
                    p.lead.
                        Easily insert buttons and call-to-actions in any page, use amazing custom options to spice up your pages.
    section.text-center.well.well-sm.section-border
        .container
            h5.text-bold.text-center Button Sizes
                small 4 different sizes: super, large, default and small.
            .row
                .col-xs-12.btn-elements-group
                    a(href='#').btn.btn-primary.btn-lg.round-small Super size
                    br.hidden-md.hidden-lg
                    a(href='#').btn.btn-primary.round-small Large size
                    br.hidden-md.hidden-lg
                    a(href='#').btn.btn-primary.btn-sm.round-small Base size
                    br.hidden-md.hidden-lg
                    a(href='#').btn.btn-primary.btn-xs.round-small Small size
    section.text-center.well.well-sm.section-border
        .container
            h5.text-bold.text-center Button Shapes
                small 4 different shapes: default, round, square and circle.
            .row
                .col-xs-12.btn-elements-group
                    a(href='#').btn.btn-primary.btn-sm.round-small default
                    br.hidden-md.hidden-lg
                    a(href='#').btn.btn-primary.btn-sm.round-large round
                    br.hidden-md.hidden-lg
                    a(href='#').btn.btn-primary.btn-sm square
                    br.hidden-md.hidden-lg
                    a(href='#').btn.btn-primary.btn-sm.round-xl circle
    section.text-center.well.well-sm.section-border
        .container
            h5.text-bold.text-center Buttons with Icons
                small Buttons are fully integrated with 900+ icons.
            .row
                .col-xs-12.btn-elements-group
                    a(href='#').btn.btn-primary.btn-sm.round-small.btn-icon-right icon right #[span.icon.fa-search]
                    br.hidden-md.hidden-lg
                    a(href='#').btn.btn-primary.btn-sm.round-small.btn-icon-left #[span.icon.fa-heart] icon left
                    br.hidden-md.hidden-lg
                    a(href='#').btn.btn-default.btn-sm.round-small.btn-icon-right icon right #[span.icon.fa-search]
                    br.hidden-md.hidden-lg
                    a(href='#').btn.btn-default.btn-sm.round-small.btn-icon-left #[span.icon.fa-heart] icon left
    section.text-center.well.well-sm
        .container
            h5.text-bold.text-center Button with Shadow
                small Enhance your button with a shadow effect.
            .row
                .col-xs-12.btn-elements-group
                    a(href='#').btn.btn-primary.btn-sm.round-xl.btn-shadow Shadow
                    br.hidden-md.hidden-lg
                    a(href='#').btn.btn-default.btn-sm.round-xl.btn-shadow Shadow




block footer
    -var footer_class = "page-footer footer-centered text-center"
    include ../features/footer_centered