

extends ../layouts/default
include ../mixins/mixins


block vars
    - var active = "Gallery"
    - var title = "Gallery 1"
    - var header_class = "page-header subpage_header"

block head

block header

    -var header_h1 = "Show Photos in a New Form"
    -var header_small = "Gallery"
    -var header_big = ""
    -var header_content = ""
    include ../features/header_transparent

block content
    section.section-border.text-center.text-md-left
        .container
                ol.breadcrumb
                    li: a(href="index.html") Home
                    li: a(href="#") Gallery
                    li.active: a(href="#") Gallery 1

    = '\n'
    //Start section
    section.text-center.well.well-sm
        .container
            .row
                .col-xs-12
                    h1 Grid with padding
                    .lead Deliverables users, seamless beta-test implement tag.

                .col-xs-12.offset-1
                    .btn-group-isotope
                        button(data-isotope-filter="*" data-isotope-group="gallery").btn.btn-default.btn-xs.round-xl All
                        button(data-isotope-filter="type-1" data-isotope-group="gallery").btn.btn-default.btn-xs.round-xl  Type 1
                        button(data-isotope-filter="type-2" data-isotope-group="gallery").btn.btn-default.btn-xs.round-xl  Type 2
                        button(data-isotope-filter="type-3" data-isotope-group="gallery").btn.btn-default.btn-xs.round-xl  Type 3

            .row.isotope.offset-1(data-isotope-layout="masonry" data-isotope-group="gallery" data-lightbox="gallery")
                .col-xs-6.col-sm-6.col-md-4(data-filter="type-1")
                    .thumbnail-variant-2.thumbnail-4.text-center
                        a(href="images/gallery-1_original.jpg" data-lightbox="image")
                            img(src="images/gallery-1.jpg" alt="")
                            .caption
                                h4.text-white Quality Products for Companies
                                 small COMPANY NEWS,  GENERAL NEWS

                        a(href='#').icon.icon-sm.text-white.fa-chain
                .col-xs-6.col-sm-6.col-md-4(data-filter="type-1")
                    .thumbnail-variant-2.thumbnail-4.text-center
                        a(href="images/gallery-2_original.jpg" data-lightbox="image")
                            img(src="images/gallery-2.jpg" alt="")
                            .caption
                                h4.text-white Quality Products for Companies
                                 small COMPANY NEWS,  GENERAL NEWS

                        a(href='#').icon.icon-sm.text-white.fa-chain
                .col-xs-6.col-sm-6.col-md-4(data-filter="type-1")
                    .thumbnail-variant-2.thumbnail-4.text-center
                        a(href="images/gallery-3_original.jpg" data-lightbox="image")
                            img(src="images/gallery-3.jpg" alt="")
                            .caption
                                h4.text-white Quality Products for Companies
                                 small COMPANY NEWS,  GENERAL NEWS

                        a(href='#').icon.icon-sm.text-white.fa-chain
                .col-xs-6.col-sm-6.col-md-4(data-filter="type-2")
                    .thumbnail-variant-2.thumbnail-4.text-center
                        a(href="images/gallery-4_original.jpg" data-lightbox="image")
                            img(src="images/gallery-4.jpg" alt="")
                            .caption
                                h4.text-white Quality Products for Companies
                                 small COMPANY NEWS,  GENERAL NEWS

                        a(href='#').icon.icon-sm.text-white.fa-chain
                .col-xs-6.col-sm-6.col-md-4(data-filter="type-2")
                    .thumbnail-variant-2.thumbnail-4.text-center
                        a(href="images/gallery-5_original.jpg" data-lightbox="image")
                            img(src="images/gallery-5.jpg" alt="")
                            .caption
                                h4.text-white Quality Products for Companies
                                 small COMPANY NEWS,  GENERAL NEWS

                        a(href='#').icon.icon-sm.text-white.fa-chain
                .col-xs-6.col-sm-6.col-md-4(data-filter="type-2")
                    .thumbnail-variant-2.thumbnail-4.text-center
                        a(href="images/gallery-6_original.jpg" data-lightbox="image")
                            img(src="images/gallery-6.jpg" alt="")
                            .caption
                                h4.text-white Quality Products for Companies
                                 small COMPANY NEWS,  GENERAL NEWS

                        a(href='#').icon.icon-sm.text-white.fa-chain
                .col-xs-6.col-sm-6.col-md-4(data-filter="type-3")
                    .thumbnail-variant-2.thumbnail-4.text-center
                        a(href="images/gallery-7_original.jpg" data-lightbox="image")
                            img(src="images/gallery-7.jpg" alt="")
                            .caption
                                h4.text-white Quality Products for Companies
                                 small COMPANY NEWS,  GENERAL NEWS

                        a(href='#').icon.icon-sm.text-white.fa-chain
                .col-xs-6.col-sm-6.col-md-4(data-filter="type-3")
                    .thumbnail-variant-2.thumbnail-4.text-center
                        a(href="images/gallery-8_original.jpg" data-lightbox="image")
                            img(src="images/gallery-8.jpg" alt="")
                            .caption
                                h4.text-white Quality Products for Companies
                                 small COMPANY NEWS,  GENERAL NEWS

                        a(href='#').icon.icon-sm.text-white.fa-chain
                .col-xs-6.col-sm-6.col-md-4(data-filter="type-3")
                    .thumbnail-variant-2.thumbnail-4.text-center
                        a(href="images/gallery-9_original.jpg" data-lightbox="image")
                            img(src="images/gallery-9.jpg" alt="")
                            .caption
                                h4.text-white Quality Products for Companies
                                 small COMPANY NEWS,  GENERAL NEWS

                        a(href='#').icon.icon-sm.text-white.fa-chain

    //End section



block footer
    -var footer_class = "page-footer footer-centered text-center"
    include ../features/footer_centered